<% provide(:title, "All Posts") %>
<p id="notice"><%= notice %></p>

<h1>Listing Microposts</h1>
<div class="panel panel-primary">
<table class="table table-striped">
  <thead>
    <tr>
      <th>Content</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @microposts.each do |micropost| %>
      <tr>
        <td><%= link_to micropost.content, micropost, class: "cust-link" %></td>
        <td><%= link_to micropost.user_id, micropost, class: "cust-link" %></td>
        <td><%= link_to 'Show', micropost, class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Edit', edit_micropost_path(micropost), class: "btn btn-primary btn-xs" %></td>
        <td><%= link_to 'Destroy', micropost, method: :delete, data: { confirm: 'Are you sure?' }, class: "btn btn-danger btn-xs" %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Micropost', new_micropost_path, class: "btn btn-small btn-success" %>
