<% provide(:title, "View Post") %>
<p id="notice"><%= notice %></p>
<div class="panel panel-primary">
  <div class="panel-heading">
    Post Content:
    <%= @micropost.content %>
  </div>

  <div class="panel-body">
    User:
    <%= @micropost.user_id %>
  </div>
</div>

<%= link_to 'Edit', edit_micropost_path(@micropost), class: "btn btn-primary btn-small"  %> |
<%= link_to 'Back', microposts_path, class: "btn btn-success btn-small"  %>
